body{
    background:#161616;
    display:grid;  
    align-items: center; 
    justify-items: center;
    font-family: "IBM Plex Mono","Menlo","DejaVu Sans Mono","Lucida Console",monospace;
    overflow: hidden;
    margin-top:10%;
 }
 @font-face {
   font-family: "Wahran-Light";
   src: url(/assets/fonts/Wahran-Light.otf) format("truetype");
 }
 @font-face {
   font-family: "Wahran-Bold";
   src: url(/assets/fonts/Wahran-Bold.otf) format("truetype");
 }
 .container{
    display:grid; 
    align-items: center; 
    justify-items: center;
    margin-top:-50px;
 }
 h2{
  color: white;
  text-align: center;
 }
 p{
  color: white;
  text-align: center;
 }
 a{
  color: white;
 }
 .contai{
    display: flex;
    flex-direction: row;
    width: 250px; height: 50px;
    background: white; 
    justify-content: center;
    border-radius: 20px;
 }
 strong{
    background: white; 
    border-radius: 2px;
    color: #000;
 }
 .item{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -3.5px;
  z-index: 2;
 }
 h3{
   font-family: Wahran-Bold;
   font-size: 20px;
   color: white;
 }
 .arab{
   font-family: Wahran-Light;
   font-size: 20px;
   color: white;
 }