
  body{
    background:#161616;
    display:grid; 
    align-items: center; 
    justify-items: center;
    
 }
 .container{
    width:400px; 
    height:300px;
    display:grid; 
    align-items: center; 
    justify-items: center;
 }
 .face{
   position:absolute;
   width: 80px; 
   height: 70px;
 background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(255,222,185,1) 50%); 
   border-bottom-right-radius: 55px;
   border-bottom-left-radius: 55px;
   margin-top: 60px;
 }
 .mo{
   position:absolute;
   width: 20px;
   height: 10px; 
   background: #161616; 
   border-bottom-right-radius: 55px;
   border-bottom-left-radius: 55px;
   margin-top: 102px;
 }
 .half{
   position:absolute;
   width: 60px;
   height: 30px; 
   background: #EBAE11; 
   border-bottom-right-radius: 55px;
   border-bottom-left-radius: 55px;
 }
 .hai1{
   margin-top: 50px;
   margin-left: 65px;
   transform: rotate(-15deg);
 }
 .hai2{
   margin-top: 50px;
   margin-left: -65px;
   transform: rotate(15deg);
 }
 .hai3{
   margin-top: -1px;
   margin-left: 55px;
   transform: rotate(-60deg);
 }
 .hai4{
   margin-top: -1px;
   margin-left: -55px;
   transform: rotate(60deg);
 }
 .hai5{
   position: absolute; 
   width: 60px;
   height: 60px;
   background: #EBAE11;
   border-radius: 0% 100% 0% 100% / 0% 100% 0% 100% ;
   transform: rotate(45deg);
   margin-top: -50px;
 }
 h2{
  color: white;
  text-align: center;
 }
 p{
  color: white;
  text-align: center;
 }
 a{
  color: white;
 }